.parent{
    max-width: 500px;
    margin: 0 auto;
}

.item-1{
    font-family: "游ゴシック体";
    font-feature-settings: "palt";
    letter-spacing: 2.5px;
    line-height: 1.8;
    margin-bottom: 120px;
}

.item-2{
    font-family: "游ゴシック体";
    letter-spacing: 1px;
    line-height: 1.8;
    margin-bottom: 120px;
}
    

.item-3{
    font-family: "游明朝体";
    font-feature-settings: "palt";
    letter-spacing: 2.5px;
    line-height: 1.8;
    margin-bottom: 120px;
}


.item-4{
    font-family:"BIZ UDPGothic";
    font-feature-settings: "palt";
    letter-spacing: 3px;
    line-height: 1.8;
    margin-bottom: 120px;
}
